// Resolution

$lg: 1920px;
$md: 1280px;
$sm: 960px;
$xs: 600px;

// Color

$headerTextColor: #b8b8b8;
$textColor: #666666;
$primaryColor: #3f3f3f;
$secondaryColor: #252525;
$thirdColor: #ff9900;
$titleColor: #ffffff;


