$borderColor: #303030;
$primaryColor: #290000;
$secondaryColor: #660000;
$textColor: #fff;
$secondaryTextColor: #979797;
$interactColor: #76c38f;


// Resolution

$lg: 1920px;
$md: 1280px;
$sm: 960px;
$xs: 600px;
