@import 'utils/variables';
@import 'utils/mixins';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-family: 'Georgia', sans-serif;
  font-size: 14px;

  &.no-scroll {
    overflow: hidden;
  }
}

@import 'layouts/header';
@import 'layouts/footer';
@import 'pages/home';

ul {
  list-style: none;
}

img {
  display: block;
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: 0;
  border: 0;
  cursor: pointer;
}

textarea {
  resize: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}


